[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo -E minstall
Icon=msystem
Name=Installer
Name[am]=መግጠሚያ
Name[ar]=تنصيب
Name[bg]=Инсталирай
Name[ca]=Instal·lador
Name[cs]=Instalovat
Name[da]=Installér
Name[de]=Installation
Name[el]=Εγκατάσταση
Name[es]=Instalar
Name[et]=Paigalda
Name[eu]=Instalatu
Name[fa]=نصب
Name[fi]=Asenna
Name[fr]=Installer
Name[hi]=इंस्टॉलर
Name[hr]=Instalacija
Name[hu]=Telepítő
Name[is]=Setja upp
Name[it]=Installa
Name[ja]=インストール
Name[ko]=설치
Name[lt]=Diegimo programa
Name[mk]=Инсталирај
Name[nb]=Installer
Name[nl]=Installeerder
Name[pl]=Instaluj
Name[pt]=Instalador
Name[pt_BR]=Instalar
Name[ro]=Instalează
Name[ru]=Установщик
Name[sk]=Inštalovať
Name[sl]=Namesti
Name[sq]=Instalo
Name[sr]=Инсталација
Name[sv]=Installera
Name[tr]=Yükleyici
Name[uk]=Встановити
Name[zh_CN]=安装
Name[zh_TW]=安装
Comment=Install Linux
Comment[am]=የ ሊነክስ መግጠሚያ
Comment[ca]=Instal·la Linux 
Comment[cs]=Nainstalovat LInux
Comment[de]= Linux installieren
Comment[el]=Εγκατάσταση του Linux
Comment[es]=Instalar Linux
Comment[fi]=Asenna Linux
Comment[fr]=Installer Linux
Comment[hi]=Install Linux
Comment[hr]=Install Linux
Comment[hu]=Linux telepítése
Comment[it]=Installa Linux
Comment[ja]=Linux のインストール
Comment[kk]=Install Linux
Comment[lt]=Įdiegti Linux
Comment[nl]=Installeer Linux
Comment[pl]=Install Linux
Comment[pt]=Instala no disco rígido
Comment[pt_BR]=Install Linux
Comment[ro]=Install Linux
Comment[ru]=Установка Linux
Comment[sk]=Nainštalovať Linux
Comment[sv]=Installera Linux
Comment[tr]=Install Linux
Comment[uk]=Install Linux
Comment[zh_TW]=安裝 Linux
Terminal=false
NoDisplay=true
