Package: antix-installer-dbgsym
Source: gazelle-installer
Version: 1.0.3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Installed-Size: 1022
Depends: antix-installer (= 1.0.3)
Section: debug
Priority: extra
Homepage: https://github.com/gazelle-installer
Description: Debug symbols for antix-installer
Build-Ids: 083fe5fb252bc8755c8ac86977181bf64c1bb7f2
